name: test-mnt-auto
on:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-22.04
        steps:
            - run: |
                extra="$( cd /mnt && sudo find \( -path ./lost+found -o -path ./swapfile -o -path ./DATALOSS_WARNING_README.txt \) -prune -o -print | sed -ne '2,2p' )"
                if [ -n "$extra" ]; then
                    echo "*** Extra files found ***"
                    sudo ls -lRa /mnt ||:
                    sudo tar -cf - --exclude=swapfile -C /mnt . | dd bs=1M count=128 iflag=fullblock | zstd > mnt.tar.zst ||:
                    exit 1
                fi
            - if: always() && !cancelled()
              uses: actions/upload-artifact@v5.0.0
              with:
                name: mnt.tar.zst
                path: mnt.tar.zst
