name: test-mnt-auto
on:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-22.04
        steps:
            - run: |
                cd /mnt
                extra="$(sudo find \( -path ./lost+found -o -path ./swapfile \) -prune -o -print | sed -ne '2,2p'"
                if [ -n "$extra" ]; then
                    echo "Extra files found"
                fi
