name: test-mnt
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - run: |
          ls -lRa /mnt ||:
          tar -cf - --exclude=swapfile -C /mnt . | dd bs=1M count=128 iflag=fullblock | zstd > mnt.tar.zst ||:
      - uses: actions/upload-artifact@v4.6.2
        with:
          name: mnt.tar.zst
          path: mnt.tar.zst
