name: test-mnt-auto
on:
    workflow_dispatch:

jobs:
    test:
        strategy:
            matrix:
                os:
                    - ubuntu-22.04
                    - ubuntu-24.04
                instance: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            fail-fast: false
        runs-on: ${{ matrix.os }}
        steps:
            - run: |
                extra="$( cd /mnt && sudo find \( -path ./lost+found -o -path ./swapfile -o -path ./DATALOSS_WARNING_README.txt \) -prune -o -print | sed -ne '2,2p' )"
                if [ -n "$extra" ]; then
                    echo "*** Extra files found ***"
                    echo "::group::ls -lRa /mnt"
                    sudo ls -lRa /mnt ||:
                    echo "::endgroup::"
                    echo "::group::archive a portion of extra files"
                    sudo tar -cf - --exclude=swapfile -C /mnt . | dd bs=1M count=128 iflag=fullblock | zstd > mnt.tar.zst ||:
                    echo "::endgroup::"
                    exit 1
                fi
            - if: always() && !cancelled()
              uses: actions/upload-artifact@v5.0.0
              with:
                name: mnt-${{ matrix.os }}-${{ matrix.instance }}.tar.zst
                path: mnt.tar.zst
                if-no-files-found: ignore
                compression-level: 0
